/* Colors:
Main - darkest blue #04121b rgb(4, 18, 27);
Second - dark blue #042235 rgb(4, 34, 53);
Third - light blue #8bb1ba 	rgb(139, 177, 186); 
text color - #9cd9f9 rgb(156, 217, 249) */

:root {
    --darkest-color: #04121b;
    --dark-color: #042235;
    --light-color: #8bb1ba;
    --text-color: #9cd9f9;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--darkest-color);
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


html {
    height: -webkit-fill-available;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#demo-canvas {
    max-width: 100%;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--light-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
    color: var(--text-color);
    animation: glow 2s ease-in-out infinite alternate;
    text-transform: uppercase;
    font-family: 'Yatra One', cursive;
}

.section {
    padding-top: var(--mb-6);
    padding-bottom: var(--mb-4);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    flex-grow: 1;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    padding: 20px;
    font-family: 'Yatra One', cursive;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
    color: white;
}


@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        transition: 0.5s;
        background-color: var(--darkest-color);
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
}

.nav__link:hover {
    position: relative;
}


.nav__toggle {
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

.show {
    right: 0;
}


.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
    position: relative;
    width: 100%;
    background-image: url(resources/header3.jpg);
    background-position: center center;
    max-width: none;
    z-index: -2;
}

.home__data {
    align-self: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.home__title {
    font-size: var(--big-font-size);
    /* margin-bottom: var(--mb-5); */
    font-family: 'Yatra One', cursive;
    position: absolute;
    left: 50%;
    top: 0%;
    width: 200px;
    transform: translate(40%, 20%);
    text-align: center;
}

.home__title-color {
    color: var(--text-color);
    animation: glow 2s ease-in-out infinite alternate;
}


.home__img {
    position: absolute;
    right: 50%;
    top: 30%;
    width: 200px;
    transform: translate(50%, -30%);
    opacity: 80%;
    z-index: -1;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .home__title {
        left: 30%;
        top: 0%;
        transform: translate(20%, -30%);
    }

    .home__img {
        right: 30%;
        top: 50%;
    }
}

@media screen and (orientation: landscape) and (min-width: 768px) {

    .home {
        max-width: 1024px;
    }

    .home__title {
        left: 10%;
        top: 20%;
        transform: translate(10%, -40%);
        width: 400px;
    }

    .home__img {
        right: 70%;
        top: 50%;
        transform: translate(0%, -50%);
    }
}

@media screen and (orientation: landscape) and (min-width: 1025px) {
    .home {
        max-width: none;
    }

    .home__title {
        transform: translate(40%, -50%);
        width: 600px;
    }

    .home__img {
        right: 0%;
        top: 50%;
        transform: translate(0%, -50%);
    }
}



.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}

.sectionSkills {
    padding-top: 20px;
}

.skillsTitle {
    text-align: center;
    padding: 1rem;
    position: relative;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}


.skillBox {
    padding: 1rem;
    color: #9cd9f9;
}

.skillBox:hover>.skillTitle:after,
.skillBox:hover>.skillTitle:before {
    width: 35px;
}

.skillBox:hover .skillImg {
    transform: translateY(-10px);
}

.skillTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skillTitle:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #8bb1ba;
    transition: 0.3s;
    filter: drop-shadow(16px 16px 20px rgba(156, 217, 249));
}

.skillTitle:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #8bb1ba;
    transition: 0.3s;
    filter: drop-shadow(16px 16px 20px rgba(156, 217, 249));
}

.skillImg {
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.skillImg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color: rgba(42, 86, 114, 0.7);
    border-radius: 45px 0 0 45px;
}

.skillTitle h4 {
    margin-top: 0.5rem;
}

.skillIcon {
    width: 90px;
}

@media screen and (max-width: 990px) {
    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px) {
    .skillsContainer {
        grid-template-columns: 1fr;
    }
}

.work__container {
    row-gap: 2rem;
}

.work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.work__img img:hover {
    transform: scale(1.1);
}

.contact {
    background-color: #03080a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerContact {
    width: 80%;
    padding: 20px;
}


.containerContact .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.containerContact .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.3s;
}

.containerContact .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #9cd9f9;
}

.containerContact .row100 .inputBox input,
.containerContact .row100 .textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.containerContact .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.3s;
    pointer-events: none;
    background-color: #101517;
    width: 100%;
}

.containerContact .row100 .inputBox input:focus+.text,
.containerContact .row100 .inputBox input:valid+.text {
    top: -35px;
    left: -10px;
}

.containerContact .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9cd9f9;
    transition: 0.3s;
    border-radius: 2px;
    pointer-events: none;
}

.containerContact .row100 .inputBox input:focus~.line,
.containerContact .row100 .inputBox input:valid~.line {
    height: 100%;
}

.containerContact .row100 .textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.containerContact .row100 .inputBox .textarea textarea {
    height: 100%;
    resize: none;
}

.containerContact .row100 .inputBox textarea:focus+.text,
.containerContact .row100 .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.containerContact .row100 .inputBox textarea:focus~.line,
.containerContact .row100 .inputBox textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    /* border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: #9cd9f9;
    color: #000000;
    font-size: 18px;
    border-radius: 2px; */
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-color: #9cd9f9;
    color: #fff;
    box-shadow: 0 0 40px 40px #9cd9f9 inset, 0 0 0 0 #9cd9f9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: #000;
}

input[type="submit"]:hover {
    box-shadow: 0 0 10px 0 #9cd9f9 inset, 0 0 10px 4px #9cd9f9;
    color: #9cd9f9;
}

.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__social ul {
    list-style: none;
}

.footer__social li {
    margin: 10px 0;
}

.footer__social li i {
    margin-right: 20px;
    color: var(--light-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .about__container,
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }

    .work__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__form {
        width: 360px;
    }

    .contact__container {
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        right: 10%;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #2d9da9;
    }

    to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}